{{ define "includes" }}
    <link rel="stylesheet" href="/assets/styles/index.css">
    <link rel="stylesheet" href="/assets/styles/club.css">
    <link rel="stylesheet" href="/assets/styles/header.css">
    <link rel="stylesheet" href="/assets/styles/form.css">

    <script defer src="/assets/scripts/index.js"></script>
{{ end }}